<%- include('./heder.ejs',{title:data.tytul}); -%>
<body>
      
<h1><%= data.abc %>  </h1>
<% if (data.link!="") { %>
    <a class="btn btn-primary" href="/<%= data.link %> ">Przejdz do <%= data.tytul %> </a>
<% } %> 




    </body>

    <%- include('./footer.ejs'); -%>