<%- include('./heder.ejs',{title:data.tytul}); -%>
<body>
      

        <table class="table thead-dark table-striped table-dark">
        <thead>
          <tr >
            <th scope="col"></th>
            <th scope="col">nazwa  projektu</th>
            <th scope="col">Temat  projektu</th>
            <th scope="col">data rozpoczecia</th>
            <th scope="col">data zakonczenia</th>
            <th scope="col">kwota</th>
            <th scope="col">uwagi</th>
            <th scope="col">rodzaj</th>
            <th scope="col">status</th>
          </tr>
        </thead>
        <tbody>
          
          <% for(var i=0; i<projekt.length; i++) {%>
            <tr >
              <th scope="row">
                <form  action="/projektpost" method="post" enctype="multipart/form-data">   
      <input type="submit" name="zapisz" type="button" class="btn btn-success" value="Zapisz zmiane wiersza">
      <input type="submit" name="usun" type="button" class="btn btn-danger" value="Usuń wiersz">
                
      <input type="hidden" name="id_projekt" value="<%= projekt[i].idprojekt %>">
              </th>
              <td ><input class="form-control"  type="text" name="nr_projekt" value="<%= projekt[i].nr_projekt %>" required> </td>
              <td ><input class="form-control"  type="text" name="temat_projekt" value="<%= projekt[i].temat_projekt %>" required> </td>
              <td ><input class="form-control"  type="date" name="data_rozpoczecia" value="<%= projekt[i].data_rozpoczecia.toISOString().slice(0, 10) %>" required> </td>
              <td ><input class="form-control"  type="date" name="data_zakonczenia" value="<% if(projekt[i].data_zakonczenia != null){ %><%=  projekt[i].data_zakonczenia.toISOString().slice(0, 10) %><% }  %>" > </td>
              <td ><input class="form-control"  type="number" name="kwota"step="0.01" min="0.01" value="<%= projekt[i].kwota %>" required> </td>
              <td ><input class="form-control"  type="text" name="uwagi" value="<%= projekt[i].uwagi %>" placeholder="Brak"> </td>
              <td ><select name="rodzaj" class="form-select">
                <% for(let r=0; r<rodzaj.length; r++) {%>
                <option <% if (rodzaj[r].id_rodzaj==projekt[i].rodzajIdRodzaj) { %> selected <% } %>
                value="<%= rodzaj[r].id_rodzaj %>"><%= rodzaj[r].nazwa_rodzaj %></option>
                <% } %>
              </select>  </td>
              <td ><select name="status" class="form-select">
                <% for(let r=0; r<status.length; r++) {%>
                <option <% if (status[r].id_status==projekt[i].statusIdStatus) { %> selected <% } %>
                    value="<%= status[r].id_status %>"><%= status[r].nazwa_status %></option>
                <% } %>
              </select>  </td>
            </tr>
          </form> 
          <% } %>
          <tr >
            <th scope="row">
        <form  action="/projektpost" method="post" enctype="multipart/form-data">     
    <input type="submit" name="dodaj" class="btn btn-success" value="Dodaj"></button>
            </th>
            <td ><input class="form-control"  type="text" name="nr_projekt"  required> </td>
            <td ><input class="form-control"  type="text" name="temat_projekt"required> </td>
            <td ><input class="form-control"  type="date" name="data_rozpoczecia" required> </td>
            <td ><input class="form-control"  type="date" name="data_zakonczenia" > </td>
            <td ><input class="form-control"  type="number" step="0.01" min="0.01" name="kwota" required> </td>
            <td ><input class="form-control"  type="text" name="uwagi" > </td>
            <td ><select name="rodzaj" class="form-select">
              <% for(let r=0; r<rodzaj.length; r++) {%>
              <option 
              value="<%= rodzaj[r].id_rodzaj %>"><%= rodzaj[r].nazwa_rodzaj %></option>
              <% } %>
            </select>  </td>
            <td ><select name="status" class="form-select">
              <% for(let r=0; r<status.length; r++) {%>
              <option
                  value="<%= status[r].id_status %>"><%= status[r].nazwa_status %></option>
              <% } %>
            </select>  </td>
          </tr>
          </form>
        </tbody>
      </table>





    </body>

    <%- include('./footer.ejs'); -%>