<%- include('./heder.ejs',{title:data.tytul}); -%>
<body>
      
<h1><%= data.tytul %> </h1>
<div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="myChart"></canvas>
</div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <%
  let temp=""
  if (typeof dane[0].nazwa_rodzaj  !="undefined") {
    
  
  dane.forEach(element => {
    
    if (temp=="" && typeof element.nazwa_rodzaj !="undefined" ) {
        temp=temp+element.nazwa_rodzaj
        }else if(element.nazwa_rodzaj!=""){
        temp=temp+","+element.nazwa_rodzaj
      }
}); 
}else{
  dane.forEach(element => {
    
    if (temp=="" && typeof element.nazwa_status !="undefined" ) {
        temp=temp+element.nazwa_status
        }else if(element.nazwa_status!=""){
        temp=temp+","+element.nazwa_status
      }
});
}
let temp2=""
  dane.forEach(element => {
    if (temp2=="") {
        
    temp2=temp2+element.count
    }else{
    temp2=temp2+","+element.count}
}); 
    
%> 
<div id="mydiv" data-test='<%= temp %>'data-test2='<%= temp2 %>'> 
    
</div>
  <script>
    const labels =document.getElementById('mydiv').dataset.test.split(",") ;


const data = {
  labels: labels,
  datasets: [{
    label: 'projekty',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: document.getElementById('mydiv').dataset.test2.split(","),
  }]
};
const config = {
  type: 'bar',
  data,
  options: {}
};

    
    var myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>
    </body>

    <%- include('./footer.ejs'); -%>